@model List<MVCSample.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>  

<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>
<br />
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mov in Model)
        {
        <tr>
            <td><a href="@Url.Action("Edit", "Movies",new { id = mov.Id })">@mov.Name</a></td>
            @if (mov.GenreId == 1)
            {
                <td>Action</td>
            }
            @if (mov.GenreId == 2)
            {
                <td>Comedy</td>
            }
            @if (mov.GenreId == 3)
            {
                <td>Family</td>
            }
            @if (mov.GenreId == 4)
            {
                <td>Romance</td>
            }
        </tr>
        }
    </tbody>
</table>