@*@model  MVCSample.Models.Movie*@   
@model MVCSample.ViewModels.RandomMovieViewModel
@*@using MVCSample.Models*@
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@*<h2>@(((Movie)ViewData["Movie"]).Name)</h2>
@ViewBag.Movie*@