@model MVCSample.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<ul>
    <li>Customer Name: @Model.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>Birth date: @String.Format("{0:D}",Model.BirthDate)</li>
    }
</ul>
