@model List<MVCSample.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if(Model.Count==0)
{
    <text>No customers yet</text>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer Details</th>
            <th>Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cus in Model)
        {
            <tr>
                <td><a href="@Url.Action("Details", "Customer",new { id = cus.Id })">@cus.Name</a></td>
                <td>@cus.MembershipType.DiscountRate%</td>
            </tr>
        }
    </tbody>
</table>
}